### Importing Liabrary

In [1]:
import pandas as pd
import numpy as np
import os

### Setting Directory

In [2]:
os.chdir('C:\\Users\\falam\\Desktop\\intership-test-master\\intership-test-master\\input')

### Importing Data

In [3]:
data = pd.read_csv("main.csv")

### Viewing Columns name

In [4]:
data.columns

Index(['SKU', 'DESCRIPTION', 'YEAR', 'CAPACITY', 'URL', 'PRICE',
       'SELLER_INFORMATION', 'OFFER_DESCRIPTION', 'COUNTRY'],
      dtype='object')

### Checking Shape of Data

In [5]:
data.shape

(11196, 9)

### Checking value counts of country

In [6]:
data['COUNTRY'].value_counts()

Hong Kong               2464
UK                      2108
France                  1537
USA (CA)                1490
USA (NY)                 981
Switzerland              917
Germany                  261
Singapore                204
Netherlands              140
Italy                    102
USA (WA)                  98
Belgium                   93
USA (NJ)                  88
USA (IL)                  74
USA (FL)                  71
Austria                   66
New Zealand               62
Spain                     57
USA (MA)                  42
Canada                    40
USA (CT)                  38
USA (TX)                  30
USA (DC)                  30
Japan                     29
Portugal                  24
United Arab Emirates      23
Australia                 18
USA (NV)                  16
USA (IN)                  13
USA (RI)                  13
Taiwan                    10
USA (CO)                   8
USA (OR)                   8
USA (TN)                   7
Luxembourg                 7
USA (VA)                   6
USA (OH)                   5
USA (MI)                   5
USA (MO)                   4
China                      4
USA (MN)                   2
USA (PA)                   1
Name: COUNTRY, dtype: int64

### Question 1

Create an output file "filteredCountry.csv" inside a folder named "output". This file should contain only those records where country contains the word USA.

In [7]:
USA = ['USA (CA)','USA (NY)','USA (WA)','USA (NJ)','USA (IL)','USA (FL)','USA (MA)',
      'USA (CT)','USA (TX)','USA (DC)','USA (NV)','USA (RI)','USA (IN)','USA (CO)','USA (OR)',
      'USA (TN)','USA (VA)','USA (OH)','USA (MI)','USA (MO)','USA (MN)','USA (PA)']

In [8]:
data1= data[data.COUNTRY.isin(USA)]

In [9]:
data1['COUNTRY'].value_counts()

USA (CA)    1490
USA (NY)     981
USA (WA)      98
USA (NJ)      88
USA (IL)      74
USA (FL)      71
USA (MA)      42
USA (CT)      38
USA (DC)      30
USA (TX)      30
USA (NV)      16
USA (RI)      13
USA (IN)      13
USA (CO)       8
USA (OR)       8
USA (TN)       7
USA (VA)       6
USA (MI)       5
USA (OH)       5
USA (MO)       4
USA (MN)       2
USA (PA)       1
Name: COUNTRY, dtype: int64

In [10]:
data1.head()

,SKU,DESCRIPTION,YEAR,CAPACITY,URL,PRICE,SELLER_INFORMATION,OFFER_DESCRIPTION,COUNTRY
2,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,329.00,The Redd Collection,"1990Barbaresco,Angelo Gaja",USA (CA)
6,11332,"Barbaresco,Angelo Gaja",2010,750ml,https://www.wine-searcher.com/find/barbaresco+...,175.00,The Redd Collection,"2010Barbaresco,Angelo Gaja",USA (CA)
18,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,304.00,The Redd Collection,"2009Barbaresco,Costa Russi,Angelo Gaja",USA (CA)
22,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,359.99,Lynnway Liquor Mart,Gaja Costa Russi Barbaresco20092009750ml,USA (MA)
23,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,379.00,The Old & Rare Wine Company,Angelo Gaja Costa Russi Langhe2009,USA (CA)

### Exporing Result

In [11]:
data1.to_csv("filteredCountry.csv")

### Question 2

Now consider "filteredCountry.csv" as the input file. For each group of "SKU" find 2 minimum prices and store this result in "lowestPrice.csv" inside a folder named "output"

### Creating Rank variable

In [12]:
data1['RANK'] = data1.groupby(['SKU'])['PRICE'].transform(lambda x: list(map(lambda y: dict(map(reversed, dict(enumerate(x.unique())).items()))[y]+1,x)) )

c:\users\falam\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### Checking Head of data

In [13]:
data1.head(10)

,SKU,DESCRIPTION,YEAR,CAPACITY,URL,PRICE,SELLER_INFORMATION,OFFER_DESCRIPTION,COUNTRY,RANK
2,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,329.00,The Redd Collection,"1990Barbaresco,Angelo Gaja",USA (CA),1
6,11332,"Barbaresco,Angelo Gaja",2010,750ml,https://www.wine-searcher.com/find/barbaresco+...,175.00,The Redd Collection,"2010Barbaresco,Angelo Gaja",USA (CA),1
18,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,304.00,The Redd Collection,"2009Barbaresco,Costa Russi,Angelo Gaja",USA (CA),1
22,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,359.99,Lynnway Liquor Mart,Gaja Costa Russi Barbaresco20092009750ml,USA (MA),2
23,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,379.00,The Old & Rare Wine Company,Angelo Gaja Costa Russi Langhe2009,USA (CA),3
24,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,379.98,Wine House,2009Angelo Gaja Langhe Costa Russi750ml,USA (CA),4
28,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,799.99,Wine Anthology,2009Gaja Costa Russi,USA (NJ),5
32,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,1849.00,Italian Wine Merchants,Gaja Costa Russi20093L,USA (NY),6
36,11334,"Barbaresco,Sori San Lorenzo,Angelo Gaja",2000,750ml,https://www.wine-searcher.com/find/barbaresco+...,329.00,IronGate.Wine,2000Gaja Sori San Lorenzo-750mL,USA (NY),1
37,11334,"Barbaresco,Sori San Lorenzo,Angelo Gaja",2000,750ml,https://www.wine-searcher.com/find/barbaresco+...,339.00,SommPicks,2000Gaja Langhe Nebbiolo Sori San Lorenzo,USA (CA),2

### Filtering Record

In [14]:
a = data1[data1['RANK']<=2]
a.shape

(599, 10)

### Viewing Head of Data

In [15]:
a.head(10)

,SKU,DESCRIPTION,YEAR,CAPACITY,URL,PRICE,SELLER_INFORMATION,OFFER_DESCRIPTION,COUNTRY,RANK
2,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,329.00,The Redd Collection,"1990Barbaresco,Angelo Gaja",USA (CA),1
6,11332,"Barbaresco,Angelo Gaja",2010,750ml,https://www.wine-searcher.com/find/barbaresco+...,175.00,The Redd Collection,"2010Barbaresco,Angelo Gaja",USA (CA),1
18,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,304.00,The Redd Collection,"2009Barbaresco,Costa Russi,Angelo Gaja",USA (CA),1
22,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,359.99,Lynnway Liquor Mart,Gaja Costa Russi Barbaresco20092009750ml,USA (MA),2
36,11334,"Barbaresco,Sori San Lorenzo,Angelo Gaja",2000,750ml,https://www.wine-searcher.com/find/barbaresco+...,329.00,IronGate.Wine,2000Gaja Sori San Lorenzo-750mL,USA (NY),1
37,11334,"Barbaresco,Sori San Lorenzo,Angelo Gaja",2000,750ml,https://www.wine-searcher.com/find/barbaresco+...,339.00,SommPicks,2000Gaja Langhe Nebbiolo Sori San Lorenzo,USA (CA),2
52,11335,"Barbaresco,Sori Tildin,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,304.00,The Redd Collection,"2009Barbaresco,Sori Tildin,Angelo Gaja",USA (CA),1
53,11335,"Barbaresco,Sori Tildin,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,315.00,Westgarth Wines,"2009Gaja,Sori Tildin",USA (CA),2
68,11336,"Barbaresco,Sori Tildin,Angelo Gaja",2010,1.5L,https://www.wine-searcher.com/find/barbaresco+...,334.00,Yankee Spirits,GAJASORITILDINLANGHEBARBARESCO2010,USA (MA),1
69,11336,"Barbaresco,Sori Tildin,Angelo Gaja",2010,1.5L,https://www.wine-searcher.com/find/barbaresco+...,364.99,Stirling Fine Wines,"Gaja Sori Tildin2010,Piedmont,Langhe",USA (NJ),2

### Droping duplicates values

In [16]:
uniques = a[['SKU']].drop_duplicates(keep=False)

### Filtering duplicates values

In [17]:
duplicates = a[~a.index.isin(uniques.index)]
duplicates.shape

(592, 10)

### Viewing Head of Data

In [18]:
duplicates.head()

,SKU,DESCRIPTION,YEAR,CAPACITY,URL,PRICE,SELLER_INFORMATION,OFFER_DESCRIPTION,COUNTRY,RANK
18,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,304.00,The Redd Collection,"2009Barbaresco,Costa Russi,Angelo Gaja",USA (CA),1
22,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,359.99,Lynnway Liquor Mart,Gaja Costa Russi Barbaresco20092009750ml,USA (MA),2
36,11334,"Barbaresco,Sori San Lorenzo,Angelo Gaja",2000,750ml,https://www.wine-searcher.com/find/barbaresco+...,329.00,IronGate.Wine,2000Gaja Sori San Lorenzo-750mL,USA (NY),1
37,11334,"Barbaresco,Sori San Lorenzo,Angelo Gaja",2000,750ml,https://www.wine-searcher.com/find/barbaresco+...,339.00,SommPicks,2000Gaja Langhe Nebbiolo Sori San Lorenzo,USA (CA),2
52,11335,"Barbaresco,Sori Tildin,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,304.00,The Redd Collection,"2009Barbaresco,Sori Tildin,Angelo Gaja",USA (CA),1

### Filtering data

In [19]:
c = duplicates[duplicates['RANK']==1]
d = duplicates[duplicates['RANK']==2]
c.shape,d.shape

((292, 10), (300, 10))

### Filtering columns

In [20]:
c = c[['SKU','PRICE']]
d = d[['SKU','PRICE']]

### Renaming columns name

In [21]:
c = c.rename(columns = {'PRICE':'FIRST_MINIMUM_PRICE'})
d = d.rename(columns = {'PRICE':'SECOND_MINIMUM_PRICE'})

### Reseting Index

In [22]:
c.reset_index(inplace = True, drop = True)
d.reset_index(inplace = True, drop = True)

### Merging Data

In [23]:
e= pd.merge(c,d,how = 'left', on = 'SKU')
e.head()

     SKU FIRST_MINIMUM_PRICE SECOND_MINIMUM_PRICE
0  11333              304.00               359.99
1  11334              329.00               339.00
2  11335              304.00               315.00
3  11336              334.00               364.99
4  11337              334.00               364.99

### Exporting Result

In [24]:
e.to_csv("lowestPrice.csv")